### 所有的配置均是大小写敏感！

# 总策略数（需与下面具体的策略配置数目保持一致）
TOTAL_POLICY=3

## 第1个策略的配置：
# 源文件类型名称
Policy_1.src_file=
# 源文件编码格式
Policy_1.src_file_encoding=
# 源文件数据列数
Policy_1.src_file_column_size=
# 源文件数据分隔符
Policy_1.src_file_separator=
# 数据库目标表名
Policy_1.des_table=
# 数据库目标表字段名称（多个字段以英文逗号分隔）
Policy_1.des_fields=

## 第2个策略的配置：
# 源文件类型名称
Policy_2.src_file=
# 源文件编码格式
Policy_2.src_file_encoding=
# 源文件数据列数
Policy_2.src_file_column_size=
# 源文件数据分隔符
Policy_2.src_file_separator=
# 数据库目标表名
Policy_2.des_table=
# 数据库目标表字段名称（多个字段以英文逗号分隔）
Policy_2.des_fields=

## 第3个策略的配置
# 源文件类型名称
Policy_3.src_file=
# 源文件编码格式
Policy_3.src_file_encoding=
# 源文件数据列数
Policy_3.src_file_column_size=
# 源文件数据分隔符
Policy_3.src_file_separator=
# 数据库目标表名
Policy_3.des_table=
# 数据库目标表字段名称（多个字段以英文逗号分隔）
Policy_3.des_fields=
