### 所有的配置均是大小写敏感！

# 工作线程数
YCI.Workers=10

# 数据库Driver
DB.Driver=com.ibm.db2.jcc.DB2Driver
# 数据库URL
DB.URL=jdbc:db2:YCRA
# 数据库用户名
DB.User=db2inst1
# 数据库密码
DB.Password=Gmcc@1234
# 最大commit数
DB.MaxCommit=10000

# 策略文件
YCI.Policy=etc/yci.policy

# 接口文件路径数
INPUT.path_size=2
# 接口文件路径1
INPUT.path_1=input/path1
# 接口文件路径2
INPUT.path_2=input/path2

# 备份路径
OUTPUT.backup_path=bak
# 挂起路径
OUTPUT.suspend_path=suspend
# 失败路径
OUTPUT.fail_path=fail

# 地市信息SQL语句
DES.RegionSQL=select CITY_CODE, CITY_NAME from RA_DICT_CITY order by SORT_ORDER
# 报表名称SQL语句
DES.ReportTabNameSQL=select REPORT_ENNAME, REPORTNAME from RA_REPORT_PARAM
# 报表状态表
DES.TabReportState=RA_IMPORT_EXCEL_STAUTS

